extends layouts/default.pug

block content
  main
    section.search-page
      .search-page__wrapper
        h1 Поиск
        .search.search-page__form
          form(action='/search' method='post')
            label
              input(type='text' name='query' placeholder='Что ищем?' value=(query ? query : ''))
            button.search__button.button.button--transparent(type='submit') Найти
          .search__result
          if articles
            each article of articles
              time.search__date(datetime=article.createdDate) #{article.createdDate}
              a.search__link= article.title
          else
            p= 'No data found'
